# Task: Create a user account with specific attributes

Create the user account `{{username}}` on this system with all of the following attributes:

- UID: `{{uid}}`
- Home directory: `{{home_dir}}` (the directory must exist and be owned by the user)
- Login shell: `{{shell}}`
- Comment (GECOS) field: `{{comment}}`

The account must be usable for interactive login with the attributes above.
