# Task: Configure password aging policy

The user account `{{username}}` already exists on this system and has a password set.

Configure the password aging policy for `{{username}}` so that:

- The password expires after a maximum of `{{max_days}}` days.
- The password can be changed only after a minimum of `{{min_days}}` days.
- The user is warned `{{warn_days}}` days before the password expires.

Do not change the user's password and do not lock the account.
