# Task: Lock an account and schedule its expiration

The user account `{{username}}` already exists on this system and has a password set.

1. Lock the password of `{{username}}` so that password authentication is no longer possible.
2. Set the account expiration date of `{{username}}` to `{{expire_date}}`.

Do not delete the account and do not change its other attributes.
