# Storage Task

Task: The disk `{{target_disk}}` holds two partitions of `{{part_size_mib}} MiB` each. The first partition is currently the only physical volume of the volume group `{{vg_name}}`.

Add the second partition (`{{target_disk}}2`) to the volume group `{{vg_name}}` as an additional physical volume, increasing the capacity of the volume group.

Do not remove or resize the existing partitions and do not touch any other disk.
